.nav {
  height: 70px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
  background-color: blue;
  justify-content: space-evenly;
}
.logo {
  width: 300px;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;

}

.navlink {
  height: 30px;

}