/* Nav items */
.nav {
  /* height: 70px; */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;
  background-color: blue;
  justify-content: space-between;
}
button, input {
  font-size: 14px;
  background: blue;
  color: white;
  width: 150px;
  margin: 10px;
  align-items: center
}
.sitename{
  padding: 0 20px;
  font-size: 36px;
  font-weight: bold;
}
.sitename:visited {
  color: whitesmoke;
}
.nav-wrapper {
  display: flex;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding : 0px 20px;
}
a {
  text-decoration: none;
  margin: 20px
}
a .navlink {
  height: 30px;
  color: whitesmoke;
  text-decoration: none;
}
.link-for-tiles:visited {
  color: whitesmoke;
}
div.org-list{
  color: #0000EE;
}
div.org-quote {
  width: 100%;
  justify-content: center;
  margin: 30px;
}

.home-banner {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.banner-area {
  /* display: flex; */
  /* flex-direction: row; */
}
.banner-spacer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: 60px 0 0 0 ; */
  font-weight: bold;


  
}
.home-tiles {
  width: 350px;
  height: 350px;
  background: blue ;
  opacity: 0.7;
  color: whitesmoke;
  /* padding: 50px 0 0 0; */
  /* flex-direction: row; */
  text-align: center;
    /* margin: 40px; */
}
.tile-header {
  margin: 40px;
}
.link-for-tiles {
  margin: 40px;
}

.footer-container{
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  min-height: 200px;
}
.footer {
    height: 200px;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    background-color: blue;
    justify-content: space-between;
  }

  .main-org-div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .org-list{

    text-decoration: none;
  }
  .form-toggle {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 30px;
    align-items: flex-start;
    min-width: ;width: 350px;

  }
  div .vol-list:visited {
    color: blue;
  }

  .volwrapper {
    margin: 0 0 0 30px;
  }

  .view-one {
    margin: 0 0 0 30px;
  }

  .formboxes {
    display: flex;
    flex-direction: column;
  }